<center><h1> All Articles </h1></center>

<ul id="Articles">
	<% @articles.each do |article| %>
	<li>
		<%= link_to article.title, article_path(article) %><br />
	</li>
	<% end %>
</ul>
<%= link_to "Create a New Article", new_article_path,
 class: "new_article" %>